@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* Базове настройки */
a:hover, a:focus, a:visited, a:active {
    text-decoration: none;
}
.section_header h2 {
    text-transform: uppercase;
    font-family: 'PFDinTextCondProBold';
    color: #666;
}
button:focus {
    outline: none;
}
/* Шапка */
header {
    color: #666;
    margin-top: 10px;
    height: 110px;
}
header .description {
    text-transform: uppercase;
}
header .description h4 {
    font-family: 'PFDinTextCondProBold';
    margin-top: 2px;
}

header .description h5 {
    font-family: 'PFDinTextCondProLight';
    font-size: 15px;
}
header .phone_number {
    text-align: right;
}
header .phone_number a {
    font-family: 'PFDinTextCondProBold';
    color: #666;
    display: inline-block;
    font-size: 25px;
}

header .phone_number a:before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 5px;
    background: url(../img/phone_icon.jpg) no-repeat center center;
}
header .phone_number h3 {
    margin-top: 0px;
}
header .phone_number a:hover {
    text-decoration: none;
}

header .phone_number p {
    font-family: 'PFDinTextCondProLight';

}
#main h1 {
    font-family: 'PFDinTextCondProBold';
}

/* Главный экран */
section#main {
    background: url(../img/bg.jpg) no-repeat center center;
    background-size: cover;
    height: 512px;
}
section#main .main_header h1 {
    color: #fff;
    text-transform: uppercase;
    font-family: 'PFDinTextCondProBold';
    margin-top: 100px;
    margin-bottom: 120px;
}
section#main .main_header h1 span{
    background: #486b83;
    padding: 5px;
}
section#main h3 {
    color: #fff;
    font-family: 'PFDinTextCondProBold';
    text-transform: uppercase;
}
section#main h3 span {
    color: #ff9933;
}
section#main .main_buttons {
    margin-top: 7px; 
    margin-bottom: 100px;
}
section#main .main_buttons button {
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: 'PFDinTextCondProBold';
    text-transform: uppercase;
}
section#main .main_buttons button#call_master {
    background: #ff9933;
    padding: 17px 35px;
}
section#main .main_buttons button#call_master:hover {
    background: #d67517;
}
section#main .main_buttons button#get_type {
    background: transparent;
    margin-left: 20px;
    padding: 15px 32px;
    border: solid 2px #ff9933;
    color: #ff9933;
}
section#main .main_buttons button#get_type:hover {
    background: rgba(255, 255, 255, 0.8);
}

/* Наши работы */
section#portfolio .section_header {
    margin-bottom: 20px;
    margin-top: 60px;
}

/* Футтер */
footer {
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #666;
    color: #fff;
}

h1 {
  font-size: 2.10vw;
}
/*Uncomment the following code to adjust the font size and make it more readable on small screens*/

@media screen and (max-width:600px){
  h1 {
    font-size: 3vw;
  }
}
@media screen and (max-width:480px){
  h1 {
    font-size: 8vw;
  }
  .phone_number h3,
  .logo {
    width: 100%;
    text-align: center;
  }
  section#main {
    margin-top: 250px;
  }
}
